<!DOCTYPE html>
<html>
  <head>
    <title>Fartuhabraue</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Navbar</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Головна
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Статті</a>
      </li>
    </ul>
  <%= link_to 'Нова стаття', new_post_path, class: 'btn btn-success' %>
      </nav>
    </div>
  <div class="container main">
        <%= yield %>
  </div>
  </body>
</html>
